<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/software/' %} active {% endif %}"><a href="{{ "/software/" | absolute_url }}">Software</a></li>
  <li class="{% if page.url contains '/resume/' %} active {% endif %}"><a href="{{ "/resume/Richard-Izzo_Public-Resume.pdf" | absolute_url }}">My Resume</a></li>
</ul>
